.list-group-item {
  line-height: 2.5;
}
h1 {
  font-family: 'Bangers', cursive;
  letter-spacing: 3px;
  font-size: 70px;
}
.card-title {
  font-family: 'Bangers', cursive;
}
.card {
  border: 1px solid black !important;
}
#search-box {
  margin-left: 15px;
}
#saved-box {
  margin-right: 15px;
}
#name-input {
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
}
.btn {
  font-family: 'Roboto', sans-serif;
}

/* font-family: 'Roboto', sans-serif; */